<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ac4a3f9a0e.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./img/favicon_io (1)/favicon-16x16.png">
    <link rel="stylesheet" href="./css/home.css">
    <title>Postbook</title>
</head>
<body>
    <header>
        <div class="logo"><img src="./img/favicon_io (1)/favicon-32x32.png" alt="logo"></div>
        <ul id="header-bar" style="list-style-type: none;">
            
            <li class="search" ><input type="text" placeholder="Search..."><span><button type="submit" id="search-button"><i class="fas fa-search" style="color: white;"></i></button></span></li>
            
        </ul>

        <ul id=header-bar  class="navigate"style="list-style-type: none;">
            <li class= "header-second"><img src="./img/favicon_io (1)/favicon-32x32.png" alt="">
                <span>Bharat bhardhwaj</span>
            </li>
            
            <li>Profile</li>
            <li>logout</li>
        </ul>
        
        
        
    </header>

    <main id="main">
        <aside class="friends-aside">
            <div class="main-friend"><span>Friends</span><img src="./img/favicon_io (1)/favicon-32x32.png" alt=""></div>
            <ul id="friends" style="list-style-type: none;">
                <li><img src="./img/favicon_io (1)/favicon-32x32.png" alt=""><span>Rajat Sharma</span></li>
                <li><img src="./img/favicon_io (1)/favicon-32x32.png" alt=""><span>Himasnhu Bisht</span></li>
                <li><img src="./img/favicon_io (1)/favicon-32x32.png" alt=""><span>Swarna jwarkar</span></li>
                <li><img src="./img/favicon_io (1)/favicon-32x32.png" alt=""><span>Sakshi Gupta</span></li>
                <li><img src="./img/favicon_io (1)/favicon-32x32.png" alt=""><span>Yash bhardhwaj</span></li>
                <li><img src="./img/favicon_io (1)/favicon-32x32.png" alt=""><span>kunal verma</span></li>
            </ul>
        </aside>
        <main>
            <section class="section1">
                <div class="create-post">Create Post</div>
                <div class="post-created"><img src="./img/favicon_io (1)/android-chrome-192x192.png" alt="">
                    
                    <div><input type="text" id="create-input" placeholder="Write something here....">
                        <span><button id=attachment><i class="fas fa-paperclip"></i></button></span> 
                    </div>
                
                </div>
                
            </section>


            <section class="section2">
                <ul id="posted" style="list-style-type: none;">
                    <li id="first"><img src="./img/favicon_io (1)/favicon-32x32.png" alt="">
                        <div>Bharat bhardhwaj</div>
                    </li>
       
                    <li id="second">This is photo is uploaded by me to developl some new features to gain some knowledge to advance my career to enhance mu skill set</li>
                    <li id="photo"><img src="./img/profile8492356e33be697d3ff5206a2804c67b2d723.jpeg" alt=""></li>
                    
                    <li id=third>

                        <div class="third-1">
                            
                            <button>
                                <span><i class="far fa-thumbs-up"></i></span>
                                like</button></div>
                        <div class="third-2">
                            
                            <button>
                                <span><i class="far fa-comment"></i></span>
                                comment</button>
                        
                        </div>
                    </li>
                </ul>
            </section>
        </main>

        <aside>
            
        </aside>
    </main>
    
</body>
</html>