<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon_io (1)/favicon-16x16.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>postbook</title>
</head>
<body>
    <div id="main-container">
        <img src="./img/favicon_io (1)/android-chrome-192x192.png" alt="logo">
        <div>Postbook</div>
    </div>
    <div id="container">

        <div class="signin-container">
            <div id=signin>Sign in</div>
            <form id="form">

                

                <label for="username">Enter username</label>
                <input type="text" placeholder="Enter Your Username" class="username">
                <small>Error</small>
                <label for="password">Enter password</label>
                <input type="password" placeholder="Password" class="password">
                <small>Error</small>
                <button type="submit">Submit</button>
                
            </form>
        </div>
        <div class="create-container">
            <div class="create">Create account</div>
            <form id="form-create">
            <label for="name">Enter your name</label>
            <input type="text" placeholder="Enter Your name" class="name">
            <small>Error</small>
            
            <label for="email">Enter Email</label>
            <input type="email" placeholder="Enter Your email" class="email">
            <small>Error</small>
            <label for="password1">Enter password</label>
            <input type="password" placeholder="Enter Your password" class="password">
            <small>Error</small>
            <label for="password2">Confirm password</label>
            <input type="password" placeholder="confirm password" class="password2">
            <small>Error</small>
            <button type="submit">Submit</button>


        </form>
            
        </div>
    </div>

    <script src="./js/script.js"></script>
    
</body>
</html>