@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#DAF1F5;
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    
    height: 60px;
    border: 1px solid teal;
    background-color: teal;
    
}
.logo{
    margin-top: 10px;
  
}

.logo img{
    height: 80%;
    margin-left: 20px;
}
#search-button{
    height: 30px;
    width: 20px;
    border: none;
    background-color: teal;
    
}

.search input::placeholder{
    color: white;
    font-size: 16px;
}
.search input:focus{
    outline: none;
}
.search input{

    height: 30px;
    width: 300px;
    border: none;
    border-bottom: 1px solid white;
    background-color:teal ;
    color: white;

}

.navigate{
    display: flex;
    
}
.navigate li{
    margin-left: 50px;
}

#header-bar{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    
    font-size: 30px;
    color: white;
    
    
}
/* #header-bar li{
    margin-left: 40px;
} */

#main{
    height: 100%;
    width: 100%;
    
    display: flex;

}

.friends-aside{
    
    width: 20%;
    height: 100%;
    background-color:#DAF1F5;
    /* background-color:red; */
    border-right: 5px solid #40484A;
    
}
.main-friend{
    display: flex;
    
}

.main-friend img{
    margin-top: 25px;
    border-radius: 50%;
    height: 65px;
    margin-left: 20px;
    border: 2px solid black;
}
.main-friend span{
    margin-top: 15px;
    font-size: 70px;
    
}


#friends{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* font-size: 20px; */
    border-top: 4px solid black;
    color: #40484A;
    

    
    
}
#friends li img{
    border-radius: 50%;
    height: 60px;
    border: 2px solid black;
    margin-left: 10px;

}

#friends li span{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 25px;
    border-bottom: 2px solid black;
}
#friends li{
    margin-top: 20px;
    display: flex;
}



#main main{
    height: 100%;
    width: 60%;
    /* background-color: #DAF1F5; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section1{
    height: 240px;
    width: 850px;
    border: 4px solid black;
    
    margin-top: 30px;
    background-color: #DAF1F5;
    
    
}
.create-post{
    border-bottom: 3px solid black;
    width: 100%;
    height: 50px;
    color: #40484A;
    font-size: 40px;
    padding-left: 20px;
    /* margin-left: 20px; */
}
#attachment{
    height: 30px;
    width: 20px;
    border: None;
    background-color:#DAF1F5 ;
    cursor: pointer;
}

.post-created{
    width: 100%;
    height: 70%;
    padding-top: 20px;
   
    display: flex;
  

}
.post-created img{
    
    height: 120px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid black;

}

#create-input{
    height: 50px;
    width: 650px;
    margin-top: 30px;
    margin-left: 10px;
    border:none;
    font-size: 20px;
    
    border-bottom: 2px solid black;
    background-color: #DAF1F5;
    
    
}

#create-input::placeholder{
    color: black;
    font-size: 25px;
}
#create-input:focus{
    outline: none;
    
}

.section2{
    margin-top: 20px;
    height: 500px;
    width: 850px;
    /* background-color: blue; */
    border: 4px solid black;
    /* border-left: 1px solid #40484A;
    border-right: 1px solid #40484A; */
}

#posted{
    display: flex;
    flex-direction: column;
    
}
#align{
    display: flex;

}
#first{
    height: 80px;
    width: 100%;
    display: flex;
    border-bottom: 4px solid black;
   
}

#posted #first img{
    height: 70px;
    margin-top: 1px;
    margin-left: 10px;
    border-radius: 50%;
    
}
#posted #first div{
    color: #40484A;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    

}

#second{
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: 70px;
    font-size: 160%;
    text-align: center;
    

}
#photo{
    display:flex;
    justify-content: center;
    width: 100%;
    /* background-color: brown;
 */
}



#photo img{
    /* margin-top: 10px; */
    height:300px;
    width: 300px;
    box-shadow: -26px 14px 32px 14px rgba(0,0,0,0.75);
    /* margin-left: 90px; */
}

#posted #third{
    display: flex;
    width: 100%;
    height: 40px;

}
#posted #third .third-1{
   width: 50%;
   height: 100%;

}

#posted #third .third-2{
    width: 50%;
    height: 100%;
    
}

.third-1 button{
    width: 100%;
    cursor: pointer;
    height: 100%;
    font-size: 30px;
    background-color: #DAF1F5;
    border-right: 1px solid black;

}
.third-2 button{
    width: 100%;
    cursor: pointer;
    height: 100%;
    font-size: 30px;
    background-color: #DAF1F5;
}










